{% extends "base.html" %}
{% block title %}Edit mail{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier ce mail.
			</p>
			<form method="POST" action="{{ url_for('mails_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id mail
                            </th>
                            <th>
                                mail
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_mail_edit_html" value="{{ row.id_mail }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "name_edit_NomMail_html" value="{{ row.NomMail }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
