{% extends "base.html" %}
{% block title %} Afficher adresses {% endblock %}
{% block body %}
<div class="container">
		<div class="col-md-12">
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Rue
                        </th>
                        <th class="align-middle">
                            Npa
                        </th>
                        <th class="align-middle">
                            Ville
                        </th>

                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_Adresse }}
						</td>
						<td class="align-middle">
							{{ row.RueAdresse }}
						</td>
						<td class="align-middle">
							{{ row.NpaAdresse|default("", True) }}
						</td>
						<td class="align-middle">
							{{ row.VilleAdresse|default("", True) }}
						</td>
						<td class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('adresses_add') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('adresses_edit', id_Adresse_edit_html=row.id_Adresse) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('adresses_select_delete', id_Adresse_delete_html=row.id_Adresse) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('adresses_add') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
</div>
{% endblock %}
