{% extends "base.html" %}
{% block title %}DELETE personne{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer ce personne.
			</p>
			<form method="POST" action="{{ url_for('adresses_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id Personne
                            </th>
                            <th>
                                Nom
                            </th>
                            <th>
                                Prenom
                            </th>
                            <th>
                                Date de Naissance
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_Adresse_delete_html" value="{{ row.id_Adresse }}"/>
                                </td>

                                <td>
                                    {{ row.RueAdresse }}
                                </td>
                                <td>
                                    {{ row.NpaAdresse }}
                                </td>
                                <td>
                                    {{ row.VilleAdresse }}
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit">EFFACER</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
