{% extends "base.html" %}
{% block title %} Ajouter une personne{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter une nouvelle personne
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Nom_pers">
						Rue
					</label>
					<input type ="text" class="form-control" name="rue_adresse_html" />
					<label for="Prenom_pers">
						NPA
					</label>
					<input type ="text" class="form-control" name="Npa_adresse_html" />
					<label for="DateNaiss_pers">
						Ville
					</label>
					<input type ="text" class="form-control" name="VilleAdresse_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le adresse
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
