{% extends "base.html" %}
{% block title %}Edit mail{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier ce mail.
			</p>
			<form method="POST" action="{{ url_for('adresses_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id adresse
                            </th>
                            <th>
                                adresses
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_Adresse_edit_html" value="{{ row.id_Adresse }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "name_edit_RueAdresse_html" value="{{ row.RueAdresse }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "name_edit_NpaAdresse_html" value="{{ row.NpaAdresse }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "name_edit_VilleAdresse_html" value="{{ row.VilleAdresse }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
