{% extends "base.html" %}
{% block title %} CRUD SUR LES personnes {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Avertissement plutôt sympa...
			</h3>
			<p>
                Comme la table "t_films" est une table qui est "extérieure" à la table intermédiaire<br>
                Les actions CRUD (Create Read Update Delete) sont identiques avec un peu plus d'attributs<br>
				Cela va vous permettre de réaliser que vous êtes capable de rendre fonctionnel votre projet pour ce module 104.
			</p>
		</div>
	</div>
</div>
{% endblock %}

