{% extends "base.html" %}
{% block title %} Ajouter un entreprise{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter un nouveau entreprise
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Nom_entreprise">
						Nom entreprise
					</label>
					<input type ="text" class="form-control" name="name_entreprise_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le entreprise
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
