{% extends "base.html" %}
{% block title %} Afficher Personnes {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Nom
						</th>
						<th class="" >
						  Prenom
						</th>
						<th class="" >
						  Date de Naissance
						</th>


					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_Personne }}
					  </th>
					  <th class="align-middle">
						{{ row.NomPers }}
					  </th>
					  <th class="align-middle">
						{{ row.PrenomPers|default("", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.DateNaissPers|default("", True) }}
					  </th>


					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('personnes_add') }}" role="button">Ajouter</a>
					  </th>
					  <th class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('personnes_edit', id_Personne_edit_html=row.id_Personne) }}" role="button">Edit</a>
						</th>
					  <th class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('personnes_select_delete', id_Personne_delete_html=row.id_Personne) }}" role="button">Delete</a>
						</th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('gf_edit_mail_film_selected', id_Personne_mails_edit_html=row.id_Personne) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.mailsFilms|default("PAS DE mailS", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
