{% extends "base.html" %}
{% block title %} Ajouter une personne{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter une nouvelle personne
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Nom_pers">
						Nom
					</label>
					<input type ="text" class="form-control" name="nom_pers_html" />
					<label for="Prenom_pers">
						Prenom
					</label>
					<input type ="text" class="form-control" name="prenom_pers_html" />
					<label for="DateNaiss_pers">
						Date de Naissance
					</label>
					<input type ="text" class="form-control" name="dateNaiss_pers_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le mail
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
