{% extends "base.html" %}
{% block title %} Afficher personnes {% endblock %}
{% block body %}
<div class="container">
		<div class="col-md-12">
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Nom
                        </th>
                        <th class="align-middle">
                            Prénom
                        </th>
                        <th class="align-middle">
                            Date naissance
                        </th>

                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_Personne }}
						</td>
						<td class="align-middle">
							{{ row.NomPers }}
						</td>
						<td class="align-middle">
							{{ row.PrenomPers|default("", True) }}
						</td>
						<td class="align-middle">
							{{ row.DateNaissPers|default("", True) }}
						</td>
						<td class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('personnes_add') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('personnes_edit', id_Personne_edit_html=row.id_Personne) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('personnes_select_delete', id_Personne_delete_html=row.id_Personne) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('personnes_add') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
</div>
{% endblock %}
