<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-6">2020.06 Initiation construite pour être multipliée.<span class="small"><br><a href="https://vogonselectriques.net" target="_blank">Merci M. Maccaud pour cette année incroyable.</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">2020.06.30</div>
        </div>
  </div>
</footer>
