{% extends "base.html" %}
{% block title %} Mon beau projet {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Mon Projet:
			</h3>
			<p>
				Base de donné et site pour une pme<br>
			</p>
			<ul>
				<li class="list-item">
					Voici mon petit projet d'une base de donnée qui pourrait être utilisé par une petite entreprise<br>
					Elle n'est pas la plus complexe du monde mais ça m'as pris le plus de temps que j'ai déjà passer sur un projet<br>

				</li>
				<li class="list-item">
					Le code a été adapté de celui que M.Maccaud nous a fourni
				</li>
				<li class="list-item">
					<br>
				</li>
			</ul>
			<h3>
				Pour la DB :
			</h3>
			<ul>
				<li class="list-item">
					Il y a une table personnes qui est la plus importante, beaucoup de donnée sont storés au tour d'elle.
				</li>
				<li class="list-item">
					On retrouve aussi des table comme adresses ou mails qui stockent des informations sur les personnes.
				</li>
				<li class="list-item">
					Puis, les tables intérmédiaires pour lier les personnes à ses mails ou à son adresse.
				</li>

			</ul>

		</div>
	</div>
</div>
{% endblock %}
